body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

i,
b,
em {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.mermaid .rockets rect,
.mermaid .rockets-muted rect,
.mermaid .generic rect,
.mermaid .nestjs rect {
  fill: #fc985b !important;
  stroke-width: 0 !important;
}

.mermaid .rockets-muted rect {
  stroke-width: 2px !important;
  stroke-dasharray: 2 2 !important;
}

.mermaid .nestjs rect {
  fill: #eb6a7d !important;
}

.mermaid .generic rect {
  fill: #bbb !important;
}

.mermaid .rockets span,
.mermaid .rockets-muted span,
.mermaid .generic span,
.mermaid .nestjs span {
  color: #fff !important;
}

/* body {
  background: linear-gradient(-45deg, #000000, #1b1329, #000000, #1c3827);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
} */

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
